@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

* {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;

    transition: color 0.3s ease-in-out;
}

.nav {
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 50px auto 0px;
}

a:hover {
    color: #0091ff;
}

form {
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    background-color: #5387f0;
}

button {
    width: 150px;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: #24509A;
    box-shadow: 0 2px 10px rgba(255, 0, 130, 0.5);
    color: white;
    cursor: pointer;
}
